$color_1: #000000;
$color_2: #242B49;

$color_text: #393938;
$color_brand-1: #3C3C3B;
$color_brand-2: #FFE600;
$color_brand-3: #E30613;
$color_neutral-1: #fff;
$color_neutral-0: #000;
$font-family--2: 'Amsi Pro Cond Ultra';
$font-family--1:'Open Sans', sans-serif;