
@font-face {
    font-family: 'Amsi Pro Cond Ultra';
    src: url('AmsiProCondensed-Ultra.woff2') format('woff2'),
        url('AmsiProCondensed-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amsi Pro Cond Ultra';
    src: url('AmsiProCondensed-Ultra.woff2') format('woff2'),
        url('AmsiProCondensed-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amsi Pro Cond Ultra';
    src: url('AmsiProCondensed-Ultra.woff2') format('woff2'),
        url('AmsiProCondensed-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

